CONFIG_ESP_VIDEO_ENABLE_ISP_PIPELINE_CONTROLLER=y

CONFIG_CAMERA_OV2710=y
CONFIG_CAMERA_OV2710_CUSTOMIZED_IPA_JSON_CONFIGURATION_FILE=y
CONFIG_CAMERA_OV2710_CUSTOMIZED_IPA_JSON_CONFIGURATION_FILE_PATH="main/hi8561_ov2710_ipa_config.json"
CONFIG_CAMERA_OV2710_MIPI_RAW10_1920X1080_25FPS=y

CONFIG_FRAMESIZE_FHD=y
CONFIG_UVC_CAM1_FRAMERATE=60
CONFIG_UVC_CAM1_FRAMESIZE_WIDTH=1920
CONFIG_UVC_CAM1_FRAMESIZE_HEIGT=1080
CONFIG_UVC_CAM1_MULTI_FRAMESIZE=y

CONFIG_IDF_EXPERIMENTAL_FEATURES=y

CONFIG_SPIRAM=y

CONFIG_SPIRAM_SPEED_200M=y