[submodule "components/cpp_bus_driver"]
	path = components/cpp_bus_driver
	url = https://github.com/Llgok/cpp_bus_driver.git
[submodule "main/examples/esp-at"]
	path = main/examples/esp-at
	url = https://github.com/espressif/esp-at.git
[submodule "components/ICM20948_WE"]
	path = components/ICM20948_WE
	url = https://github.com/Llgok/ICM20948_WE.git
[submodule "components/RadioLib"]
	path = components/RadioLib
	url = https://github.com/Llgok/RadioLib.git
