[submodule "libraries/cpp_bus_driver"]
	path = libraries/cpp_bus_driver
	url = https://github.com/Llgok/cpp_bus_driver.git
[submodule "libraries/ST25R3916"]
	path = libraries/ST25R3916
	url = https://github.com/Llgok/ST25R3916.git
[submodule "libraries/NFC-RFAL"]
	path = libraries/NFC-RFAL
	url = https://github.com/Llgok/NFC-RFAL.git
[submodule "libraries/arduino_cpp_bus_driver"]
	path = libraries/arduino_cpp_bus_driver
	url = https://github.com/Llgok/arduino_cpp_bus_driver.git
[submodule "libraries/lilygo_device_driver"]
	path = libraries/lilygo_device_driver
	url = https://github.com/Xinyuan-LilyGO/lilygo_device_driver.git
[submodule "libraries/radiolib_cpp_bus_driver"]
	path = libraries/radiolib_cpp_bus_driver
	url = https://github.com/Llgok/radiolib_cpp_bus_driver.git
[submodule "libraries/usp_cpp_bus_driver"]
	path = libraries/usp_cpp_bus_driver
	url = https://github.com/Llgok/usp_cpp_bus_driver.git
[submodule "libraries/stsw-st25rfal002_cpp_bus_driver"]
	path = libraries/stsw-st25rfal002_cpp_bus_driver
	url = https://github.com/Llgok/stsw-st25rfal002_cpp_bus_driver.git
