[submodule "examples/aw86224/components/cpp_bus_driver"]
	path = examples/aw86224/components/cpp_bus_driver
	url = https://github.com/Llgok/cpp_bus_driver.git

[submodule "examples/bq27220/components/cpp_bus_driver"]
	path = examples/bq27220/components/cpp_bus_driver
	url = https://github.com/Llgok/cpp_bus_driver.git
