menu "Example Configuration"

    choice
        prompt "Select the example to build"
        default EXAMPLE_BUILD_ES8311_SD_WAV
            config EXAMPLE_BUILD_ES8311_SD_WAV
                bool "es8311_sd_wav"
            config EXAMPLE_BUILD_ESP32C6_AT_HOST_SDIO_UART
                bool "esp32c6_at_host_sdio_uart"
            config EXAMPLE_BUILD_ESP32C6_AT_HOST_SDIO_WIFI
                bool "esp32c6_at_host_sdio_wifi"
            config EXAMPLE_BUILD_SX1262_GFSK_SEND_RECEIVE
                bool "sx1262_gfsk_send_receive"
            config EXAMPLE_BUILD_SX1262_LORA_SEND_RECEIVE
                bool "sx1262_lora_send_receive"
            config EXAMPLE_BUILD_SX1262_TX_CONTINUOUS_WAVE
                bool "sx1262_tx_continuous_wave"
            config EXAMPLE_BUILD_AFE
                bool "afe"
            config EXAMPLE_BUILD_RADIOLIB_SX1262_SEND_RECEIVE
                bool "radiolib_sx1262_send_receive"
            config EXAMPLE_BUILD_CC1101_SEND_RECEIVE
                bool "cc1101_send_receive"
            config EXAMPLE_BUILD_RADIOLIB_CC1101_SEND_RECEIVE
                bool "radiolib_cc1101_send_receive (legacy alias)"
            config EXAMPLE_BUILD_RADIOLIB_NRF24L01_SEND_RECEIVE
                bool "radiolib_nrf24l01_send_receive"
            config EXAMPLE_BUILD_NFC_RFAL_ST25R3916
                bool "nfc-rfal_st25r3916"
            config EXAMPLE_BUILD_SCREEN_TCA8418_LVGL_TOUCH_DRAW
                bool "screen_tca8418_lvgl_touch_draw"
            config EXAMPLE_BUILD_ETHERNET_IPERF
                bool "ethernet_iperf"
            config EXAMPLE_BUILD_USB_ETHERNET_IPERF
                bool "usb_ethernet_iperf"
            config EXAMPLE_BUILD_USB_ETHERNET_IPERF_HOST_MSC
                bool "usb_ethernet_iperf_host_msc"
            config EXAMPLE_BUILD_USB_HOST_MSC
                bool "usb_host_msc"

    endchoice

endmenu
