CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y

CONFIG_FORMAT_MJPEG_CAM1=y
CONFIG_UVC_MODE_BULK_CAM1=y
CONFIG_FRAMESIZE_HD=y
CONFIG_UVC_CAM1_FRAMERATE=30
CONFIG_UVC_CAM1_FRAMESIZE_WIDTH=540
CONFIG_UVC_CAM1_FRAMESIZE_HEIGT=1168
CONFIG_UVC_CAM1_MULTI_FRAMESIZE=n
